@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: '微软雅黑';
}
a{
	text-decoration: none;
	color: #666;
	cursor: pointer;
}
img{
	border:none;
}
ul,li{
	list-style: none;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{
  display: block;
}
.span-money,.unm,.money{
	font-family: arial,sans-serif;
}
